body {
  background-color: #2994B2;
  color: azure;
  font-family: -apple-system, Roboto, sans-serif;
  padding-top: 30px;
}

.App {
  text-align: center;
}

input[type=number] {
  width: 16%;
  padding: 12px 20px;
  margin: 5px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

span {
  font-size: 12px;
  margin: 5px;
}

button {
  width: 100%;
  background-color: #FFB400;
  color: #474744;
  padding: 14px 20px;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #fbc342;
}

.listWrap {
  width: 80%;
  margin: 20px auto 20px auto;
  background-color: #474744;
}

.list {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border-bottom: 1px solid #FFB400;
  padding: 12px;
  color: #474744;
  text-align: initial;
}

td {
  color: white;
}

th {
  padding: 12px;
  text-align: left;
  background-color: #FFB400;
  color: #474744;
}

.filterWrap {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: auto;
}
